/*Load google font*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* Colors 
body
	background-color: #FEFEFE;
	color: #04143A;
	
a
	color: #4A90E2;
	
.subtitle
	color: #81899C;

.list-card h3
	color: #1b6ca8;
	
.list-card div span
	color: #81899C;
*/

/* Reset Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
	text-decoration: none;
	text-transform: none;
	color: #7B7DD6;
}

body {
	line-height: 1;
	font-family: lato, ubuntu,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
	text-rendering : optimizeLegibility;
	-webkit-font-smoothing : antialiased;
	font-size: 19px;
	background-color: #111;
	color: #FFFC52;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	color: #15171a;
	font-size: 17;
	line-height: 31px;
}

strong {
	font-weight: 600;
}

div , footer {
	box-sizing: border-box;
}

/* Reset ends */

.container {
	max-width: 1100px;
	height: auto;
	margin: 60px auto;
	display:block;
	position: relative;
}

.hero {
	margin: 50px auto; 
	position: relative;
}

h1.maintitle {
	font-size: 70px;
	font-weight: 300;
	display: inline-block;
}

.subtitle {
	display: block;
	font-size: 24px;
	font-weight: 300;
	color: #FFFC52;
	margin-top: 10px;
}

.lead {
	font-size: 44px;
	font-weight: 300;
	margin-top: 60px;
	line-height: 55px;
}

.sections {
	vertical-align: top;
	display: inline-block;
	width: 47.5%;
}

.section-title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
	border: 1px solid;
	padding: 15px;
	margin-right: 15px;
}

.list-card {
	margin: 30px 0;
}

.list-card div{
	display: inline-block;
	vertical-align: top;
	width: 70%;
}

.list-card h3 {
	font-size: 18px;
	font-weight: 600;
	color: #FFFC52;
	line-height: 26px;
	margin-bottom: 8px;
}

.list-card div span {
	font-size: 16px;
	color: #c7c686;
	line-height: 22px;
}

/* Media queries*/

@media(max-width: 1024px){
	.container {
		padding: 15px;
		margin: 0px auto;
	}
}

@media(max-width: 768px){
	.container {
		padding: 15px;
		margin: 0px auto;
	}
	.list-card div{
		width: 80%;
	}
}


@media(max-width: 425px) {
	.hero{
		margin: 25px auto;
	}
	h1.maintitle {
		font-size: 40px;
	}
	.subtitle{
		font-size: 20px;
	}
	.sections {
		width: 100%;
		height: auto;
		margin: 10px 0;
	}
	.lead {
		font-size: 20px;
		line-height: 28px;
		margin-top: 30px;
	}
	.container {
		margin: 0px;
		padding: 0 15px;
	}
	footer.container {
		padding: 0 15px 30px 15px;
	}
	.list-card div{
		width: 100%;
	}
}
